<div class="hero">
    <div class="hero-image-container bg"></div>
    <div class="hero-image-container"></div>
    <div class="hero-content">
        <span class="spacer"></span>
        <h1 class="tag">Dallas James</h1>
        <h2 class="sub">Currently Under Construction</h2>
        <span class="spacer"></span>
        <div class="indicator" *ngIf="!production">
            <div class="arrow" (click)="scrollClicked.emit()">
                <div class="arrow-right"></div>
                <div class="arrow-left"></div>
            </div>
        </div>
    </div>
</div>
