.super-box {
    padding: 12px;
    border-bottom: 1px dashed white;
}

:host {
    .hero {
        position: relative;
        height: 80vh;
    }

    .hero-image-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        transform: translateZ(-20px) scale(1.1);
        z-index: 10;

        img {
            height: 100%;
        }
    }

    .hero-content {
        position: relative;
        z-index: 20;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
