<section class="footer">
    <div class="row">
        <h4>Dallas James</h4>
        <div class="spacer"></div>
        <div class="social-icons">
            <a [href]="twitter" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
            <a [href]="linkedin" target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
        </div>
    </div>
    <div class="row mobile">
        <a href="https://gitlab.com/dallastjames/dallastjames.com" target="_blank">View Site Code</a>
    </div>
</section>
