<nav class="header">
    <ul class="nav-items">
        <li class="nav-item">
            <a class="page-link">About Me</a>
        </li>
        <li class="nav-item">
            <a class="page-link">Portfolio</a>
        </li>
        <li class="nav-item site-code">
            <a mat-raised-button color="primary" href="https://gitlab.com/dallastjames/dallastjames.com" target="_blank">
                Site Code on GitLab
                <img src="assets/gitlab.svg" alt="gitlab-logo">
            </a>
        </li>
    </ul>
</nav>
