<div id="portfolio" class="examples">
    <h2>My Portfolio</h2>
    <p class="sub-text">Web & App</p>
    <div class="grid">
        <dallastjames-example-item class="top left" image="https://res.cloudinary.com/dallastjames/image/upload/v1542082774/dallastjames/web-rpgsessions-tn.jpg">
            <dallastjames-example-title>RPGSessions</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
        <dallastjames-example-item class="top center" image="https://images.pexels.com/photos/326424/pexels-photo-326424.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <dallastjames-example-title>Project #2</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
        <dallastjames-example-item class="top right" image="https://images.pexels.com/photos/265667/pexels-photo-265667.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <dallastjames-example-title>Project #3</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
        <div class="portfolio-description">
            <h3>Portfolio</h3>
            <p>This is some basic information about my portfolio
                and the items that surround it
            </p>
        </div>
        <dallastjames-example-item class="middle right" image="https://res.cloudinary.com/dallastjames/image/upload/v1542083641/dallastjames/logo-onegm-250.png">
            <dallastjames-example-title>One Grounds Management</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
        <dallastjames-example-item class="bottom left" image="https://images.pexels.com/photos/270700/pexels-photo-270700.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            <dallastjames-example-title>Project #5</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
        <dallastjames-example-item class="bottom center" image="https://res.cloudinary.com/dallastjames/image/upload/v1542083724/dallastjames/liiingo-icon-colors.png">
            <dallastjames-example-title>Liiingo</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
        <dallastjames-example-item class="bottom right" image="https://images.pexels.com/photos/262545/pexels-photo-262545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <dallastjames-example-title>Project #7</dallastjames-example-title>
            <dallastjames-example-description>
                This is a description for this project. Isn't it just so awesome?!
            </dallastjames-example-description>
        </dallastjames-example-item>
    </div>
</div>
