<div id="portfolio" class="examples">
    <h2>My Portfolio</h2>
    <p class="sub-text">Web & App</p>
    <div class="grid">
        <dallastjames-example-item class="top left" [image]="">
            <dallastjames-example-title></dallastjames-example-title>
            <dallastjames-example-description></dallastjames-example-description>
        </dallastjames-example-item>
        <dallastjames-example-item class="top center"></dallastjames-example-item>
        <dallastjames-example-item class="top right"></dallastjames-example-item>
        <div class="portfolio-description">
            <h3>Portfolio</h3>
            <p>This is some basic information about my portfolio
                and the items that surround it
            </p>
        </div>
        <dallastjames-example-item class="middle right"></dallastjames-example-item>
        <dallastjames-example-item class="bottom left"></dallastjames-example-item>
        <dallastjames-example-item class="bottom center"></dallastjames-example-item>
        <dallastjames-example-item class="bottom right"></dallastjames-example-item>
    </div>
</div>
