<div id="aboutMe" class="about-me">
    <div class="extended-color">
        <h2>About Me</h2>
        <p class="sub-text">Some little blurb about myself that people will read</p>
    </div>
    <div class="summary-cards">
        <mat-card>
            <mat-card-content>
                <fa-icon icon="user-friends"></fa-icon>
                <h3>User Experience</h3>
                <p>
                    This is a card about one of my core values
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon icon="user-secret"></fa-icon>
                <h3>Application Security</h3>
                <p>
                    This is a card about one of my core values
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon icon="book-reader"></fa-icon>
                <h3>Self Motivated</h3>
                <p>
                    This is a card about one of my core values
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
