<div id="aboutMe" class="about-me">
    <h2>About Me</h2>
    <p class="sub-text">Some little blurb about myself that people will read</p>
    <div class="summary-cards">
        <mat-card>
            <mat-card-content>
                <fa-icon icon="smile"></fa-icon>
                <h3>Value</h3>
                <p>
                    This is a card about one of my core values
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon icon="smile"></fa-icon>
                <h3>Value</h3>
                <p>
                    This is a card about one of my core values
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon icon="smile"></fa-icon>
                <h3>Value</h3>
                <p>
                    This is a card about one of my core values
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
