<section class="hero">
    <div class="header">
        <h3>Dallas James</h3>
        <span class="spacer"></span>
        <ng-content select="dallastjames-header"></ng-content>
    </div>
    <div class="content">
        <div class="section right">
            <div class="my-image">
                <div class="backdrop">
                    <div class="image-border">
                        <img src="https://res.cloudinary.com/dallastjames/image/upload/ar_1:1,b_rgb:262c35,bo_0px_solid_rgb:ff0000,c_fill,g_auto,q_100,r_max,z_2.5/v1540868131/dallastjames/profile_picture">
                    </div>
                </div>
            </div>
        </div>
        <div class="section left">
            <div class="title-content">
                <div class="title">
                    <h1><span class="dark">MY</span> WORK</h1>
                    <h2>Web & Application Developer</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</section>
