<section class="hero">
    <div class="header">
        <h3>Dallas James</h3>
        <span class="spacer"></span>
        <ng-content select="dallastjames-header"></ng-content>
    </div>
    <div class="content">
        <div class="section right">
            <div class="my-image">
                <div class="backdrop">
                    <div class="image-border">
                        <img src="https://res.cloudinary.com/dallastjames/image/upload/ar_1:1,b_rgb:262c35,bo_0px_solid_rgb:ff0000,c_fill,g_auto,q_100,r_max,z_2.5/v1540868131/dallastjames/profile_picture">
                    </div>
                </div>
            </div>
            <div class="quote">
                <h3><pre>{{ heroQuote }}</pre></h3>
            </div>
        </div>
        <div class="section left">
            <div class="title-content">
                <div class="title">
                    <h1><span class="dark">MY</span> WORK</h1>
                    <h2>Web & Application Developer</h2>
                </div>
                <div class="follow-info">
                    <h3>Follow me on:</h3>
                    <div class="divider"></div>
                    <a href="https://twitter.com/dallastjames" target="_blank">
                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/dallastjames" target="_blank">
                        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</section>
